*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: white;
  font-family: sans-serif;
  min-height: 100vh;
  background-color: #adffc2;
}
h1{
  background-image: -webkit-linear-gradient(
      110deg,
      #7d69aa,
      #c775e7
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header{ 
  font-size: 1.5rem;
} 
header,
section{
  min-height: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-input,
button {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  background-color: white;
}
.note-input:focus{
  outline: none;
}

.add-btn {
  color: #00eeff;
  background-color: white;
  cursor: pointer;
  transition: all .5s ease;
}
.delete-btn {
  color: #fa3030;
  background-color: white;
  cursor: pointer;
  transition: all .5s ease;
}

.add-btn:hover{
  background: #00eeff;
  color: white;
}

.delete-btn:hover{
  background: #fa3030;
  color: white;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.note{
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1rem;
  display: flex;
  align-items: center;
  transition: all .5s ease;
}

.color-select{
  display: flex;
  justify-content: center;
  padding: 5px 10px 0 0;
  margin-top: 0;
}

.color-box{
  border: solid 1px #929292;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  margin-left: 5px;
}
.color-box:hover{
  border: solid 2px #929292;
}